#home .top-header {
	min-height: 250px;
	max-height: 250px;
	padding-top: 64px;
}

#home h2 {
	color: #FFF;
    font-family: 'nexa_boldregular';
    font-size: 25px;
    line-height: 1.3em;
}

#home h4 {
	color: #FFF;
    font-size: 20px;
    line-height: 1.3em;
}

#blog-panel {
	margin: 40px 0;
}

#blog-panel .panel-body {
	padding: 10px;
}

#loading-blog {
	padding: 80px;
}

#add-blog-comment .col-xs-12 {
	margin: 5px 0;
}

.comment-list-template {
	margin-left: -20px;
}

#comment-list hr {
	margin: 7px 0;
}