#home .top-header {
	min-height: 250px;
	max-height: 250px;
	padding-top: 8px;
}

#home h1 {
	color: #FFF;
    font-family: 'nexa_boldregular';
    font-size: 3em;
    line-height: 1.3em;
}

#home .home {
	line-height: 45px; 
	font-size: 25px;
}

#home .home a {
	color: #fff; 
	text-decoration: none;
}

#blog-list {
	margin-bottom: 30px;
}

#blog-list .col-xs-12 {
	margin: 5px 0;
}

#blog-list .bs-callout:hover {
	cursor: pointer;
	background: #f7f7f7;
}

#search-blog {
    border: 0;
    font-size: 25px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0);
}

#search-cancel {
	margin-top: -20px;
	margin-right: 10px;
	position: relative;
	z-index: 10;
	display: none;
	cursor: pointer;
}

#search-header {
	margin: 20px 0;
}