#home .top-header {
	min-height: 250px;
	padding-top: 8px;
}

#home h1 {
	line-height: 45px;
	font-size: 25px;
	font-family: 'nexa_boldregular';
}

#home h1 a {
	color: #fff; 
	text-decoration: none;	
}

#home h2 {
	color: #fff;
    font-family: 'nexa_boldregular';
    font-size: 27px;
    line-height: 1.3em;
}

#home h2 small {
	display: block;
	color: #fff;
	margin-top: 10px;
}

#home h4 {
	color: #fff;
    font-size: 18px;
    line-height: 1.3em;
}

#blog-panel {
	margin: 40px 0;
}

#blog-panel .panel-body {
	padding: 10px;
}

#loading-blog {
	padding: 80px;
}

#add-blog-comment .col-xs-12,
#add-blog-comment .col-xs-6 {
	margin: 5px 0;
}

.comment-list-template {
	margin-left: -20px;
}

#comment-list hr {
	margin: 7px 0;
}

#blog-content {
	margin-top: 30px;
}

#back {
	margin: 30px 0;
}
#language-selector {
	margin: 30px 0;
}

#language-selector button {
	background: rgba(200, 200, 200, 0.2);
    border: none;
    color: #fff;
}

#language-selector .dropdown-menu {
	background: rgba(200, 200, 200, 0.2);
}

#language-selector .dropdown-menu a {
	color: #fff;
	text-align: center;
}

#language-selector .dropdown-menu a:hover {
	background: rgba(200, 200, 200, 0.5);
}