#home .top-header {
	min-height: 250px;
	padding-top: 8px;
}

#home h1 {
	line-height: 45px;
	font-size: 25px;
	font-family: 'nexa_boldregular';
}

#home h1 a {
	color: #fff; 
	text-decoration: none;	
}

#home h2 {
	color: #fff;
    font-family: 'nexa_boldregular';
    font-size: 27px;
    line-height: 1.3em;
}

#home h2 small {
	display: block;
	color: #fff;
	margin-top: 10px;
}

#home h4 {
	color: #fff;
    font-size: 18px;
    line-height: 1.3em;
}

#home a {
	color: #fff;
}

#blog-panel {
	margin: 40px 0;
}

#blog-panel .panel-body {
	padding: 10px;
}

#loading-blog {
	padding: 80px;
}

#add-blog-comment {
	margin: 25px 0;
}

.comment-list-template {
	margin-left: -20px;
}

#comment-list hr {
	margin: 7px 0;
}

#blog-content {
	margin-top: 30px;
}

#add-comment-name {
	border: 1px solid #999;
    border-radius: 5px;
    line-height: 32px;
    padding: 3px 10px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0);
}

#add-comment-submit {
	background: #fff;
    border-color: #999;
    color: #666;
    height: 40px;
}

#add-comment-submit:hover {
	background: #eee;
	color: #444;
}

#attachment-list .row {
    margin-bottom: 10px;
    padding: 5px;
}

#attachment-list h4 {
    font-size: 18px;
}

#attachment-list i {
    font-size: 30px;
    line-height: 61px;
    cursor: pointer;
}

#attachment-list hr {
	margin-bottom: 0px;
}

#attachment-download-modal .modal-body .row {
	margin-top: 20px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

#attachment-download-modal .error {
	color: #ff0000;	
}

#attachment-download-validate {
	max-width: 100%;
}

#attachment-download-code {
	border: 0;
    font-size: 20px;
    color: #777;
    outline: none;
    width: 100%;
    line-height: 48px;
}

#language-selector {
	margin: 30px 0;
}

#language-selector button {
	background: rgba(200, 200, 200, 0.2);
    border: none;
    color: #fff;
}

#language-selector .dropdown-menu {
	background: rgba(200, 200, 200, 0.2);
}

#language-selector .dropdown-menu a {
	color: #fff;
	text-align: center;
}

#language-selector .dropdown-menu a:hover {
	background: rgba(200, 200, 200, 0.5);
}