#edit-blog-div .col-xs-12,
#edit-blog-div .col-xs-6,
#edit-blog-div .col-xs-4 {
	margin: 5px 0;
}

#loading-blog {
	padding: 80px;
}

#blog-cover-img, #blog-cover-progress {
	display: none;
}

#blog-cover-img {
	width: 100%;
}

#blog-upload-cover-button {
	margin-bottom: 20px;
	overflow: auto;
}

#edit-blog-title {
	border: none;
	width: 100%;
	text-align: center;
	font-size: 23px;
	color: #777;
	outline: none;
}

#title-div hr {
	margin: 10px 0;
}