#edit-blog-div .col-xs-12,
#edit-blog-div .col-xs-6 {
	margin: 5px 0;
}

#loading-blog {
	padding: 80px;
}

#blog-cover-img, #blog-cover-progress {
	display: none;
}

#blog-cover-img {
	width: 100%;
}

#blog-upload-cover-button {
	margin-bottom: 20px;
	overflow: auto;
}